.optionsList {
  display: flex;
  flex-wrap: wrap;
}

.professionButton {
  padding: 0.6rem 1rem 0.7rem;
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
  border-radius: 1.6rem;
  background-color: #f6f8f6;
  cursor: pointer;
}

.professionButton:hover {
  background-color: #eeefee;
}

.professionButton.selected {
  background-color: #91A3B0;
}

.clearFilters {
  align-self: flex-end;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}
